body {
  text-align: center;
  display: block;
  background-image: url("images/rock4.jpg");
  background-size: cover;
  color: white;
  /* text-shadow: 10px 10px 10px black; */
  text-shadow:
    -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
}

img {
  width: 30vw;
  height: auto;
  margin: 10px auto;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input {
  margin: 10px;
}
